<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualMemory"
        tools:targetApi="31">

        <!-- MainActivity (no intent-filter defined) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VirtualMemory">
        </activity>

        <!-- FolderContentActivity (no intent-filter defined) -->
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".FolderContentActivity" android:exported="false" />
        <activity android:name=".MapActivity" android:exported="false" />
        <activity android:name=".ContactActivity" android:exported="false" />
        <activity android:name=".SensorActivity" android:exported="false" />
        <activity android:name=".ReminderActivity" android:exported="false" />
        <receiver android:name=".MedicationReminderReceiver" />
        <activity android:name=".FingerprintActivity" android:exported="false" />


        <!-- HomeActivity as the launcher activity -->
        <activity android:name=".LoginActivity"
            android:exported="true">  <!-- Add android:exported="true" here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Enter your own API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" /> 

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Permissions for notifications, alarm scheduling, and audio recording -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>
